body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Fuente personalizada */
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: 400; /* Peso normal */
  line-height: 1.6; /* Espaciado entre líneas */
  text-transform: capitalize; /* Capitaliza la primera letra de cada palabra */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333533;
}

.container {
  width: 80%;
  max-width: 600px;
  background: #ffee02;
  padding: 20px;
  border-radius: 35px 0px 35px 0px; /* Aplicamos aquí el diseño */
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #202020; /* Borde azul */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

textarea {
  display: block; /* Asegura que el botón ocupe una línea completa */
  margin: 10px auto 0; /* Espacio superior y centrado horizontal */
  width: 75%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Asegura la misma fuente */
  font-size: 16px; /* Mismo tamaño de letra que el body */
  font-weight: 400; /* Peso de la fuente igual al del body */
  line-height: 1.6; /* Espaciado entre líneas igual al del body */
}

button {
  background: #202020;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 40%;
}

button:hover {
  background: #D6D6D6;
  color: black; /* Cambia el color del texto a negro en hover */
}
.header {
  display: flex; /* Organiza título y logo en una fila */
  align-items: center; /* Alinea los elementos verticalmente */
  justify-content: center; /* Centra horizontalmente */
  margin-bottom: 20px; /* Espacio inferior */
}

.header h1 {
  margin: 0; /* Quita el margen predeterminado del título */
  margin-right: 10px; /* Espacio entre el título y el logo */
  font-size: 1.8rem; /* Tamaño del título */
}

.header .logo {
  width: 120px; /* Ajusta el tamaño del logo */
  height: auto; /* Mantiene las proporciones */
}
